section {
    min-height: 90vh;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 2fr 2fr 5fr 2fr;
    grid-template-rows: 1fr;
    color: #59656F;
    z-index: 9999;
}

h3 {
    margin: 1.2vh 0;
}

aside {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.nav_item6 a {
    background-color: #2D5C83;
}

.ta-info {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: left;
    padding: 15px 0;
    margin-left: 10px;
}

.david {
    background-image: url("./assets/Plaisted.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    z-index: 1;
    border-radius: 10px;
    margin: 6vh 4vh;
    line-height: .4;
}

.david>h3 {
    margin-top: 310px;
}

.links {
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
    border-top: 1px solid #59656F;
    padding: 15px 0;
}

article {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
    margin-top: 8vh;
}

.quick {
    border-top: 1px solid #59656F;
    border-bottom: 1px solid #59656F;
    padding: 15px 0;
    margin-left: 10px;
}

p {
    margin: 0;
    line-height: 25px;
}

.indent {
    margin-left: 20px;
    padding: 0;
}

.fix-indent {
    margin-top: 0;
}

.left,
.two {
    border-top: none;
}

.left {
    border-bottom: none;
}

.background_img {
    position: fixed;
    z-index: -10;
    background-image: url("Images/triangles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    opacity: .5;
    margin-top: 54vh;
}
.indent a {
    color: #59656F;
}

.indent a:hover {
    color: #008DF1;
}

 .indent a:active {
    color: #9F00C0;
}

@media only screen and (max-width: 1230px) {
    .title>h1 {
        margin: 0 auto;
        font-size: 2em;
    }

    .quick>h3 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 10px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 630px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 2fr;
        padding: 1vh 1vh;
    }

    .david {
        background-image: url("./assets/Plaisted.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 140px;
        z-index: 1;
        border-radius: 10px;
        margin: 6vh 4vh;
        line-height: .4;
    }

    .david>h3 {
        margin-top: 210px;
    }

    aside {
        grid-row: 1/2;
        grid-column: 1/2;
        flex-direction: row;
    }

    article {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 2vh;
    }

    .links {
        border-top: none;
    }
}