.container {
    min-height: 90vh;
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 2fr 5fr 3fr 2fr;
    grid-template-rows: 7fr 1fr;
    justify-items: center;
    align-items: center;
    color: #59656F;
    z-index: 9999;
}

/* change color when on page */
.nav_item1 a {
    background-color: #2D5C83;
}

aside {
    background-image: url("Images/Wartime_picture_of_a_Bletchley_Park_Bombe.jpg");
    grid-column: 2/3;
    grid-row: 1/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 100%;
    z-index: 1;
    border-radius: 10px;
}

.title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 3px 3px black;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 5vh 5vw;
}

section {
    grid-column: 3/4;
    text-align: left;
}

.quick {
    border-top: 1px solid #59656F;
    border-bottom: 1px solid #59656F;
    padding: 15px 0;
    margin-left: 10px;
}

.quick>h3 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 0;
}

.indent>p {
    margin: 0;
    line-height: 25px;
}

.indent {
    margin-left: 20px;
}

.fix-indent {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.info {
    border-top: none;
}

.background_img {
    position: absolute;
    z-index: -10;
    background-image: url("Images/triangles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    opacity: .5;
}

@media only screen and (max-width: 1230px) {
    .title>h1 {
        margin: 0 auto;
        font-size: 2em;
    }

    .title>h2 {
        margin: 0 auto;
        font-size: 1.5em;
    }

    .quick>h3 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 10px;
        margin-top: 0;
    }
}

/* when the screen get small enough stretch turing image across top and stack
quick info and quick links */
@media only screen and (max-width: 630px) {
    .container {
        min-height: 90vh;
        display: grid;
        grid-row: 2/3;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
    }

    aside {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        border-radius: 0;
    }

    section {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
    }
}