body,
html {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: Helvetica;
    color: #59656F;
}

section {
    display: grid;
    text-align: left;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr .2fr;
}

section>div {
    padding: 2vh 2vh;
}

.nav_item2 a {
    background-color: #2D5C83;
}


.text {
    border: 1px solid #DDDDDD;
    min-width: 200px;
}

.image {
    background-color: rgb(243, 243, 243);
}

#row1 {
    grid-row: 1/2;
    grid-column: 2/3;
    min-width: 24vw;
}

#row2 {
    grid-row: 2/3;
    grid-column: 3/4;
}

#row3 {
    grid-row: 3/4;
    grid-column: 2/3;
}

#row4 {
    grid-row: 4/5;
    grid-column: 3/4;
}

#row5 {
    grid-row: 5/6;
    grid-column: 2/3;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image1 {
    grid-row: 1/2;
    grid-column: 3/4;
    color: #2D5C83;
    letter-spacing: .2em;
}

#image2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#image3 {
    grid-row: 3/4;
    grid-column: 3/4;
}

#cfg {
    height: 20vh;
    width: 20vw;
}

#image4 {
    grid-row: 4/5;
    grid-column: 2/3;
}

#image5 {
    grid-row: 5/6;
    grid-column: 3/4;
}

section li {
    list-style: none;
    padding-top: 1vh;
    padding-left: 2vh;
}

.background_img {
    position: fixed;
    z-index: -10;
    background-image: url("Images/triangles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    opacity: .5;
    margin-top: 54vh;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 750px) {

    section {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr .5fr 1.5fr .5fr 1.5fr .5fr 1.5fr .5fr 1.5fr .5fr;
    }

    #row1 {
        grid-row: 1/2;
        grid-column: 1/2;
        min-width: 24vw;
    }

    #row2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #row3 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    #row4 {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    #row5 {
        grid-row: 9/10;
        grid-column: 1/2;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image1 {
        grid-row: 2/3;
        grid-column: 1/2;
        color: #2D5C83;
        letter-spacing: .2em;
    }

    #image2 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    #image3 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    #image4 {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    #image5 {
        grid-row: 10/11;
        grid-column: 1/2;
    }

    .image {
        height: 10vh;
    }
}

@media only screen and (max-width: 630px) {
    section {
        display: grid;
        text-align: left;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr .5fr 1.5fr .5fr 1.5fr .5fr 1.5fr .5fr 1.5fr .5fr;
    }

    #row1 {
        grid-row: 1/2;
        grid-column: 1/2;
        min-width: 24vw;
    }

    #row2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #row3 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    #row4 {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    #row5 {
        grid-row: 9/10;
        grid-column: 1/2;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image1 {
        grid-row: 2/3;
        grid-column: 1/2;
        color: #2D5C83;
        letter-spacing: .2em;
    }

    #image2 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    #automata {
        height: 20vh;
    }

    #image3 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    #cfg {
        height: 12vh;
        width: 12vw;
    }

    #image4 {
        grid-row: 8/9;
        grid-column: 1/2;
    }

    #turing {
        height: 14vh;
        width: 14vw;
    }

    #image5 {
        grid-row: 10/11;
        grid-column: 1/2;
    }

    #bb {
        height: 12vh;
        width: 12vw;
    }

    .image {
        height: 10vh;
    }
}